/* RESET : permet d'effacer le style par défaut imposé par le navigateur*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.borderTop {
    border-top: 50px
}


.colorwhite {
    color: white;
}


.btn {
    background-color: rgba(0, 0, 0, 0.441);
    border: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}


.btnPrimary {
    font-size: 25px;
    color: #ffffff;
    background-color: #292F36;
    border-radius: 18px;
    padding-left: 48px;
    padding-bottom: 26px;
    padding-top: 26px;
    padding-right: 48px;
    transform: scale(0.8);
}

.cuisine {
    border-top-right-radius: 80px;
}

.entree {
    border-top-left-radius: 80px;
}

.bureau {
    border-bottom-right-radius: 80px;
}
 .cabinet {

    border-bottom-left-radius: 80px;
 }

.btnNoP {
    font-size: 20px;
    color: #ffffff;
    background-color: #292F36;
    border-radius: 18px;
    padding-left: 48px;
    padding-bottom: 26px;
    padding-top: 26px;
    padding-right: 48px;
    transform: scale(0.8);
}


.btnSecondary {
    font-size: 14px;
}

.marginBottom {
    margin-bottom: 20px;
}

.marginTop {
    margin-top: 20px;
}


h2 {
    font-size: 35px;
}

.fontZize15 {
    font-style: 15px;
}

/* rendre flexible un parent = aligner ses enfants */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}



.centerBetween {
    justify-content: center;
}

.spaceAround {
    justify-content: space-around;
}

.spaceEnd {
    justify-content: flex-end;
}

.revers {
    flex-direction: row-reverse;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.center {
    justify-content: center;
}


.AlignCenter {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/* CLASSES DE DIMENSIONS */

.w-50 {
    width: 50%;
}

.w-48 {
    width: 48%;
}

.w-42 {
    width: 42%;
}

.w-100 {
    width: 100%;
}

.w-33 {
    width: 30%;
}

.W8 {
    width: 8%;
}

.W80 {
    width: 80%;
}

.w-25 {
    width: 24%;
}

.W16 {
    width: 16%;
}


/* HEADER */

.logo {
    width: 55px
}

header ul {
    list-style: none;

}

header {
    padding: 10px 64px;
    /* background-color: gainsboro; */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.372);
}



/* SECTION HERO*/



.sectionHero {
    background-image: url(asset/assets-interno/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-bottom-left-radius: 200px;
}

.arrondis {
    border-bottom-left-radius: 100px;
    border-top-right-radius: 250px;
}

h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

.sectionHero div>p {
    margin-bottom: 50px;
    font-size: 14px;
}


/* SECTION 2 */


.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.Container {
    max-width: 1200px;
    margin: 0;
    text-align: center;
}

.container1 {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.taller {
    height: 500px;
}



.marginTop100 {
    margin-top: 100px;
}

.card {
    
    border-radius: 20px;
    padding: 25px;
}

.bgred {
    background-color: brown;
}


.arrondisImage1 {
    border-bottom-left-radius: 20px;
}

.marginLeft {
    margin-left: 150px;
}

.start {
    justify-content: flex-start;
}

.image.s3 {
    width: 50%;

}

.bgB {
    background-color: #e8e7e6;
}

.bgcube {
    background-color: rgb(251, 251, 251);
    height: 250px;
    border-radius: 25px;
}


.marginUser {
    margin-left: 20px;
    margin-top: 20px;

}


.bgblue{
    background-color: #292F36;
    padding: 80px 0;
}


.bguser{
    background-color: #F4F0EC;
}


.bgGreen {
    background-color: green;
    padding: 100px;

}
